body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; 
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #faf0e6; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .foto img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #333;
  }
  
  .info {
    margin-bottom: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .item i {
    margin-right: 10px;
    font-size: 20px;
    color: #666;
  }
  
  .item span {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li strong {
    font-weight: bold;
  }
  
  h2 {
    border-bottom: 2px solid #deb887; 
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  p {
    line-height: 1.6;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #0056b3;
  }
  