* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="url"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="month"],
.form-group input[type="week"],
.form-group input[type="range"],
.form-group input[type="number"],
.form-group input[type="search"],
.form-group input[type="color"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.form-group input[type="color"] {
    height: 50px;
    padding: 0;
}

.form-group input[type="range"] {
    width: calc(100% - 50px);
}

.form-group:last-child {
    margin-bottom: 0;
}
